<%- include('header'); -%>
<h2>This is the about page </h2>
<p> jfghuwe hiufey iefk b uegh ugefik ugtiukfe ghwiu ghfef qu ikuw iu 7fegiuerwg u7hewrig erdwfuvcjguv edfiygue fdgiyugc </p>
<%- include('footer'); -%>
